.text {
	font-family: var(--font-main);
	font-style: normal;
	margin: 0;
	&--huge {
		font-size: 46px;
	}
	&--big {
		font-size: 32px;
	}
	&--large {
		font-size: 28px;
		@include mobile {
			font-size: 18px;
		}
	}
	&--pre-large {
		font-size: 24px;
	}
	&--medium {
		font-size: 20px;
	}
	&--pre-medium {
		font-size: 18px;
	}
	&--normal {
		font-size: 16px;
	}
	&--small {
		font-size: 14px;
	}
	&--tiny {
		font-size: 12px;
	}
	&--primary {
		color: var(--primary-font-color);
	}
	&--white {
		color: var(--white-font-color);
	}
	&--w-regular {
		font-weight: normal;
	}
	&--w-medium {
		font-weight: 500;
	}
	&--w-bold {
		font-weight: 700;
	}
	&--uppercase {
		text-transform: uppercase;
	}
}