.title {
	font-family: var(--font-main);
	font-style: normal;
	margin: 0;
	&--big {
		font-size: 64px;
		@include mobile {
			font-size: 32px;
		}
	}
	&--normal {
		font-size: 20px;
	}
	&--primary {
		color: var(--primary-font-color);
	}
	&--white {
		color: var(--white-font-color);
	}
	&--w-medium {
		font-weight: 500;
	}
	&--w-bold {
		font-weight: 700;
	}
	&--uppercase {
		text-transform: uppercase;
	}
}

.title--indent {
	margin-bottom: 32px;
}