.d-none {
	display: none !important;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.no-scroll {
	overflow-y: hidden;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.d-flex {
	display: flex;
}

.d-flex-column {
	flex-direction: column;
}

.flex-justify-sb {
	justify-content: space-between;
}

.flex-justify-center {
	justify-content: center;
}

.flex-align-center {
	align-items: center;
}

.link {
	transition: color var(--hover-time) ease;
}

.link:hover,
.link:target,
.link:focus {
	color: var(--secondary-hover);
	opacity: .9;
}

.link:active {
	color: var(--primary);
}

.b-padding-70 {
	padding: var(--padding-block-70);
}

.b-padding-top-140 {
	padding: var(--padding-block-140);
}

.gray-bg {
	background-color: var(--white-bg);
}

.gray-bg {
	background-color: var(--gray-bg);
}

.bg-dark {
	background-color: var(--dark-bg);
}