.button {
  font-family: var(--font-main);
  font-weight: 400;
  position: relative;
  cursor: pointer;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  line-height: 1;
  padding: 15px 18px 15px 26px;
  border-radius: 66px;
  z-index: 1;
  outline: var(--primary);
  background: transparent;
  transition: background .3s ease-out, color .3s ease-out, border .3s ease-out, opacity .3s ease-out, width .3s ease-out;
  @include mobile {
    padding: 8px 8px 8px 16px;
  }
}

.button--primary {
  background-color: var(--primary);
  color: var(--white-font-color);
  border: 1px solid transparent;
  @include mobile {
    width: 100%;
    font-size: 16px;
  }
}

.button--primary:hover,
.button--primary:focus,
.button--primary:target {
  background-color: var(--secondary-hover);
}

.button--primary:hover .button__icon,
.button--primary:focus .button__icon,
.button--primary:target .button__icon {
  transform: rotate(45deg);
}

.button--primary:active {
  background-color: var(--secondary-hover);
}

.button--primary:disabled {
  color: var(--white-font-color);
  background-color: #313130;
  opacity: .4;
}

.button--primary .button__icon {
  --arrow-btn-top-right: white;
  fill: var(--arrow-btn-top-right);
}

.button__icon-wrap {
  border: 1px solid #FFFFFF66;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border var(--hover-time) ease-out;
}

.button__icon {
  transition: transform var(--hover-time) ease-out;
}

.button--secondary {
  color: var(--white-font-color);
  background-color: #FFFFFF33;
  border: 1px solid #FFFFFF33;
  backdrop-filter: blur(45px);
  @include mobile {
    width: 100%;
  }
}

.button--secondary .button__icon {
  --arrow-btn-top-right: white;
  fill: var(--arrow-btn-top-right);
}

.button--secondary:hover,
.button--secondary:focus,
.button--secondary:target {
  background-color: var(--white-bg);
  color: var(--red-font-color);
}

.button--secondary:active {
  color: var(--secondary-hover);
}

.button--secondary:hover .button__icon,
.button--secondary:focus .button__icon,
.button--secondary:target .button__icon {
  --arrow-btn-top-right: #E3000F;
  fill: var(--arrow-btn-top-right);
  transform: rotate(45deg);
}

.button--secondary:hover .button__icon-wrap,
.button--secondary:focus .button__icon-wrap,
.button--secondary:target .button__icon-wrap {
  border: 1px solid #E3000F1A;
}

.button--secondary:disabled {
  opacity: .4;
  backdrop-filter: blur(45px);
}

.button--text {
  padding: 0 0 2px;
  color: #E3000F;
  border-bottom: 1px solid #E3000F33;
  border-radius: 0;
  gap: 10px;
  @include mobile {
    font-size: 14px;
  }
}

.button--text .button__icon-wrap {
  padding: 0;
  border: none;
  height: 16px;
  width: 16px;
}

.button--text .button__icon {
  --arrow-btn-top-right: #E3000F;
  fill: var(--arrow-btn-top-right);
}

.button--text:hover,
.button--text:focus,
.button--text:target {
  color: var(--secondary-hover);
}

.button--text:hover .button__icon,
.button--text:focus .button__icon,
.button--text:target .button__icon {
  --arrow-btn-top-right: var(--secondary-hover);
  fill: var(--arrow-btn-top-right);
  transform: rotate(45deg);
}

.button--text:disabled {
  opacity: .6;
}