.council.council--page {
	padding-top: 60px;
	@include mobile {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.council.council--page .council__expert {
	margin-top: 0;
}

.council__heading {
	@include mobile {
		margin-bottom: 18px;
	}
}

.council__subtitle {
	max-width: 840px;
	margin: 0 auto;
	opacity: .7;
	@include mobile {
		font-size: 14px;
	}
}

.council__expert {
	position: relative;
	display: grid;
	grid-template-columns: 200px minmax(300px, 387px);
	align-items: center;
	margin-top: 60px;
	padding: 20px;
	gap: 24px;
	border-radius: 40px;
	@include mobile {
		grid-template-columns: 112px 1fr;
		margin-top: 40px;
	}
}

.council__expert::before {
	content: url("../img/other/council-decor.svg");
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 60px;
	width: 32px;
	height: 29px;
	@include mobileXS {
		content: none;
	}
}

.council__expert-photo {
	border-radius: 30px;
	overflow: hidden;
}

.council__expert-photo picture,
.council__expert-photo img {
	display: block;
	width: 100%;
	height: 100%;
	min-height: 200px;
	max-height: 200px;
	object-fit: cover;
	@include mobile {
		min-height: 112px;
		max-height: 112px;
	}
}

.council__expert-subtitle {
	opacity: .7;
	margin-top: 6px;
}

.council__expert-excerpt {
	margin-top: 24px;
	@include mobile {
		font-size: 14px;
	}
}

.council__actions {
	margin-top: 60px;
	@include mobile {
		margin-top: 40px;
	}
}

.council__actions .button {
	font-size: 20px;
}