.form__actions {
  margin-top: 10px;
}

.form__button {
  width: 100%;
  margin-top: 50px;
}

.form__field {
  position: relative;
  display: block;
  width: 100%;
}

.form__field + .form__field {
  margin-top: 10px;
}

.form__input {
  padding: 18px 20px;
  background-color: var(--gray-bg);
  border: 1px solid transparent;
  border-radius: 10px;
  width: 100%;
  font-size: 16px;
  color: var(--primary-font-color);
  @include mobile {
    padding: 22px 12px 10px 16px;
    font-size: 14px;
  }
}

.form__input:hover {
  background-color: #EDEDED;
}

.form .form__input {
  border: 1px solid var(--disabled);
}

.form__field .form__input:focus,
.form__field .form__input:target,
.form__field .form__input--textarea:focus,
.form__field .form__input--textarea:target,
.form__field .form__input--textarea:focus-visible {
  border: 1px solid #C5C5C5;
}

.form__placeholder {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  user-select: none;
  transition: top .1s linear,
              transform .1s linear,
              font-size .1s linear;
  @include mobile {
    font-size: 14px;
  }
}

.form__input.is-dirty + .form__placeholder {
  position: absolute;
  font-size: 12px;
  left: 16px;
  top: 10px;
  transform: translateY(0);
  @include mobile {
    top: 8px;
  }
}

.form__input.is-dirty + .form__placeholder,
.form__input:focus + .form__placeholder,
.form__input:target + .form__placeholder,
.form__input:focus-visible + .form__placeholder {
  font-size: 12px;
  top: 10px;
  transform: translateY(0);
  @include mobile {
    top: 8px;
  }
}

.form__placeholder::after {
  content: "*";
  color: var(--secondary);
}

.form__input--textarea {
  resize: none;
  outline: none;
  max-height: 130px;
  padding: 18px 16px;
  @include mobile {
    padding: 16px 12px 16px 16px;
  }
}

.form__input::placeholder,
.form__input--textarea::placeholder {
  font-size: 12px;
  color: var(--primary-font-color);
  opacity: .7;
}

.form.form--service .form__accept,
.form.form--modal .form__accept {
  margin-top: 0;
  @include mobile {
    order: -1;
  }
}

.form__accept-label {
  display: flex;
  align-items: center;
  gap: 12px;
}

.form__accept-label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  //margin-right: 0.5em;
  border-radius: 4px;
  background-color: var(--white-bg);
  border: 1px solid #E5E5E5;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 10px 10px;
}

.form__accept-text a {
  @extend .text--primary;
  text-decoration: underline;
  @include mobile {
    font-size: 14px;
  }
}

.form__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__checkbox:checked + .form__accept-label::before {
  border-color: var(--normal-border);
  background-color: var(--primary);
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.83317 0.791748L3.87484 6.75008L1.1665 4.04175' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

/* стили при наведении курсора на checkbox */
.form__checkbox:not(:disabled):not(:checked) + .form__accept-label:hover::before {
  border-color: var(--secondary-hover);
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.form__checkbox:not(:disabled):active + .form__accept-label::before {
  background-color: #b3d7ff;
  border-color: var(--success-border);
}
/* стили для чекбокса, находящегося в фокусе */
.form__checkbox:focus + .form__accept-label::before {
  box-shadow: 0 0 0 0.1rem rgba(58, 175, 169, 0.25);
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.form__checkbox:focus:not(:checked) + .form__accept-label::before {
  border-color: var(--success-border);
}
/* стили для чекбокса, находящегося в состоянии disabled */
.form__checkbox:disabled + .form__accept-label::before {
  background-color: #e9ecef;
}

.form__field .form__input.is-error,
.form__field.is-error .form__input {
  border-color: var(--error-border);
}

.form__field .form__input.is-error:focus,
.form__field .form__input.is-error:target,
.form__field.is-error .form__input:focus,
.form__field.is-error .form__input:target {
  border-color: var(--success-border);
}