.header {
	position: fixed;
	bottom: 20px;
	z-index: 10;
	max-width: 1240px;
	width: 100%;
	left: 50%;
	padding: 0 20px;
	transform: translateX(-50%);
	opacity: 0;
	visibility: hidden;
	transition: opacity var(--hover-time) ease-in-out,
				visibility var(--hover-time) ease-in-out;
}

.header.is-active .header__body {
	border-radius: 0 0 22px 22px;
}

.header__body {
	padding: 20px;
	background-color: #FFFFFFCC;
	backdrop-filter: blur(45px);
	box-shadow: 2px 15px 35px 0 #3131301A;
	border-radius: 22px;
	@include tablet {
		background-color: var(--white-bg);
		backdrop-filter: blur(0);
		transition: border-radius var(--hover-time) ease-in-out;
	}
}

.header.is-visible {
	opacity: 1;
	visibility: visible;
}

.header__inner,
.header__logos {
	gap: 40px;
	@include to(1200px) {
		gap: 20px;
	}
}

.header__logos img:first-child {
	@include mobile {
		max-width: 39px;
	}
}

.header__logos img:last-child {
	@include mobile {
		max-width: 108px;
	}
}

.header .button {
	@include tablet {
		font-size: 20px;
	}
}

.header__button-desktop {
	@include tablet {
		margin-left: auto;
	}
	@include mobile {
		display: none;
	}
}

.header__button-mobile {
	display: none;
	@include mobile {
		display: flex;
		margin-bottom: 20px;
	}
}

.header__burger-wrap {
	display: none;
	align-items: center;
	justify-content: center;
	width: 40px;
	min-width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid #31313033;
	@include tablet {
		display: flex;
	}
}

.header__menu {
	@include tablet {
		position: absolute;
		left: 0;
		bottom: 100%;
		width: 100%;
		background-color: var(--white-bg);
		padding: 20px;
		border-radius: 22px 22px 0 0;
		opacity: 0;
		visibility: hidden;
		transition: visibility var(--hover-time) ease-in-out,
					opacity var(--hover-time) ease-in-out;
	}
}

.header.is-active .header__menu {
	visibility: visible;
	opacity: 1;
}

.header__menu:before {
	content: none;
	@include tablet {
		content: '';
		position: absolute;
		bottom: 0;
		left: 20px;
		right: 20px;
		height: 1px;
		background-color: #C5C5C5;
		opacity: .5;
	}
}

.header__menu-list {
	@include tablet {
		flex-direction: column;
		align-items: flex-start;
	}
}

.header__menu-item.menu__item {
	padding: 10px 0;
}