.menu {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
}

.menu__list {
  display: flex;
  gap: 10px;
}

.menu__item {
  position: relative;
  padding: 10px 12px;
}

.menu__item:hover .menu__link {
  color: var(--primary);
  text-decoration: underline;
}

.menu__link {
  display: block;
  color: var(--primary-font-color);
  transition: color var(--hover-time) ease-in-out, text-decoration var(--hover-time) ease-in-out;
}