.nominations__heading {
	@include mobile {
		margin-bottom: 18px;
	}
}

.nominations__subtitle {
	opacity: .7;
	@include mobile {
		font-size: 14px;
	}
}

.nominations__items {
	margin-top: 60px;
	display: grid;
	grid-template-columns: repeat(2, minmax(350px, 1fr));
	gap: 10px 20px;
	@include mobile {
		grid-template-columns: 1fr;
		gap: 10px;
		margin-top: 40px;
	}
}

.nominations__item {
	padding: 29px 20px;
	border-radius: 20px;
	background-color: var(--white-bg);
}

.nominations__doc {
	margin-top: 60px;
	padding: 29px 20px;
	border-radius: 27px;
	@include mobile {
		margin-top: 40px;
	}
	@include mobileXS {
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
		border-radius: 20px;
		padding: 14px;
	}
}

.nominations__doc-inner {
	gap: 20px;
	@include mobileXS {
		gap: 14px;
	}
}

.nominations__doc-name {
	@include mobileXS {
		font-size: 16px;
	}
}

.nominations__doc-icon {
	width: 58px;
	min-width: 58px;
	height: 58px;
	background-color: var(--gray-bg);
	border-radius: 50%;
	@include mobileXS {
		width: 40px;
		min-width: 40px;
		height: 40px;
	}
}

.nominations__actions {
	margin-top: 60px;
	gap: 40px;
	@include mobile {
		margin-top: 40px;
	}
	@include mobileXS {
		flex-direction: column;
		gap: 20px;
	}
}