.nominations__heading {
	@include mobile {
		margin-bottom: 18px;
	}
}

.nominations__subtitle {
	opacity: .7;
	@include mobile {
		font-size: 14px;
	}
}

.nominations__items {
	margin-top: 60px;
	display: grid;
	grid-template-columns: repeat(2, minmax(350px, 1fr));
	gap: 10px 20px;
	@include mobile {
		grid-template-columns: 1fr;
		gap: 10px;
		margin-top: 40px;
	}
}

.nominations__item {
	padding: 29px 20px;
	border-radius: 20px;
	background-color: var(--white-bg);
}

.nominations__doc {
	margin-top: 60px;
	padding: 29px 20px;
	border-radius: 27px;
	@include mobile {
		margin-top: 40px;
	}
	@include mobileXS {
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
		border-radius: 20px;
		padding: 14px;
	}
}

.nominations__doc-inner {
	gap: 20px;
	@include mobileXS {
		gap: 14px;
	}
}

.nominations__doc-name {
	@include mobileXS {
		font-size: 16px;
	}
}

.nominations__doc-icon {
	width: 58px;
	min-width: 58px;
	height: 58px;
	background-color: var(--gray-bg);
	border-radius: 50%;
	@include mobileXS {
		width: 40px;
		min-width: 40px;
		height: 40px;
	}
}

.nominations__actions {
	margin-top: 60px;
	gap: 40px;
	@include mobile {
		margin-top: 40px;
	}
	@include mobileXS {
		flex-direction: column;
		gap: 20px;
	}
}

.nominations__table-wrap {
	margin-top: 60px;
}

.nominations__table-search {
	padding: 12px;
	border: 1px solid #c5c5c585;
	border-radius: 25px;
	background: var(--white-bg);
	width: 100%;
}

.nominations__table {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	border: 1px solid #c5c5c585;
	margin-top: 20px;
	border-radius: 14px;
	overflow: hidden;
}

.nominations__table-item {
	display: contents;
}

.nominations__table-item-result,
.nominations__table-item-name {
	padding: 10px 12px;
	border-bottom: 1px solid #c5c5c585;
	background: #fff;
	@include mobile {
		font-size: 14px;
	}
}

.nominations__table-item-result {
	border-right: 1px solid #c5c5c585;
}

.nominations__table-item:last-child .nominations__table-item-result,
.nominations__table-item:last-child .nominations__table-item-name {
	border-bottom: none;
}

.nominations__table-no-result {
	display: none;
	padding: 16px;
	color: #666;
	text-align: center;
	font-style: italic;
}