.slider-pagination-dotted.splide__pagination {
  position: absolute;
  gap: 8px;
  bottom: 130px;
}

.slider-pagination-dotted .slider-pagination-dotted__page {
  height: 9px;
  width: 9px;
  opacity: 1;
  background: transparent;
  border: 1.5px solid #FFFFFF;
  margin: 0;
  transition: background-color var(--hover-time) linear,
              border var(--hover-time) linear;
}

.slider-pagination-dotted .slider-pagination-dotted__page:hover {
  border: 1px solid var(--white-bg);
}

.slider-pagination-dotted .slider-pagination-dotted__page.is-active {
  background-color: #FFFFFF99;
  transform: scale(1);
  border: 1px solid #FFFFFF99;
}